# Título

In [1]:
print("Hola mundo")

Hola mundo

In [2]:
saludo = "Hola mundo"

In [3]:
print(saludo)

Hola mundo

Numbers
Strings
Boolean
Lists
Dictionaries
Tuples
Sets
None

In [4]:
numero1 = 10

In [5]:
type(10)

int

In [6]:
type(3.14151926)

float

In [7]:
# Voy a hablar de los booleans
verdadero = True # Este es un bool
falso = False

In [8]:
type(falso)

bool

In [9]:
### Comparison Operators
"""
>
<
>=
<=
==
!=
"""

'\n>\n<\n>=\n<=\n==\n!=\n'

In [10]:
10 > 11

False

In [11]:
1 < -1

False

In [12]:
10 >= 10

True

In [13]:
11 <= 11

True

In [14]:
10 == 10

True

In [15]:
3.00000000001 != 3

True

In [17]:
nueva2 = "lfanaslasijlhas"

### Operadores lógicos

In [18]:
"""
and 
or 
not 
"""

'\nand \nor \nnot \n'

In [19]:
print(10 > 3)
print(3 == 3)

True
True

In [20]:
10 > 3 and 3 == 3

True

In [21]:
10 > 3 or 3 == 4

True

### LOOPS

In [22]:
# (i = 0; i < 10; i++)

In [23]:
# range(0, 10, 1)

In [30]:
# DRY - Don´t repeat yourself
# for

for i in range(1, 11, 1):
    print(i)

#print("")

1
2
3
4
5
6
7
8
9
10

In [31]:
saludo

'Hola mundo'

In [40]:
contador = 1

for letra in saludo:
    print(contador, letra)
    # contador = contador + 1
    contador += 1

1 H
2 o
3 l
4 a
5
6 m
7 u
8 n
9 d
10 o

In [34]:
print()
print("Hola")

Hola

In [47]:
for pos, letra in enumerate(saludo):
    print(pos, letra)

0 H
1 o
2 l
3 a
4
5 m
6 u
7 n
8 d
9 o

### Colecciones

#### Listas

In [48]:
variable = 1, 2, 3, 4

In [50]:
lista = [] # lista vacía

In [51]:
type(lista)

list

In [94]:
lista.append(100)

In [95]:
lista

[100]

In [96]:
for i in range(100):
    lista.append(".")

In [97]:
lista

[100,
 '.',
 '.',
 '.',
 '.',
 '.',
 '.',
 '.',
 '.',
 '.',
 '.',
 '.',
 '.',
 '.',
 '.',
 '.',
 '.',
 '.',
 '.',
 '.',
 '.',
 '.',
 '.',
 '.',
 '.',
 '.',
 '.',
 '.',
 '.',
 '.',
 '.',
 '.',
 '.',
 '.',
 '.',
 '.',
 '.',
 '.',
 '.',
 '.',
 '.',
 '.',
 '.',
 '.',
 '.',
 '.',
 '.',
 '.',
 '.',
 '.',
 '.',
 '.',
 '.',
 '.',
 '.',
 '.',
 '.',
 '.',
 '.',
 '.',
 '.',
 '.',
 '.',
 '.',
 '.',
 '.',
 '.',
 '.',
 '.',
 '.',
 '.',
 '.',
 '.',
 '.',
 '.',
 '.',
 '.',
 '.',
 '.',
 '.',
 '.',
 '.',
 '.',
 '.',
 '.',
 '.',
 '.',
 '.',
 '.',
 '.',
 '.',
 '.',
 '.',
 '.',
 '.',
 '.',
 '.',
 '.',
 '.',
 '.',
 '.']

In [54]:
lista2 = [1, "Hola", True, 4.213123123, []]

In [105]:
lista2[1] = 3.14151925

In [106]:
lista2

[1, 3.14151925, True, 4.213123123, []]

In [55]:
type(lista2)

list

In [62]:
lista2[5] # zero-indexed

IndexError: list index out of range

 ##### Slicing

In [63]:
lista2

[1, 'Hola', True, 4.213123123, []]

In [72]:
# [ )

lista2[:]

[1, 'Hola', True, 4.213123123, []]

In [75]:
saludo

'Hola mundo'

In [77]:
saludo[:4]

'Hola'

In [80]:
saludo[5:]

'mundo'

### Notación punto

In [81]:
dir("")

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [90]:
"HOLA MUNDO!".center(50, "-")

'-------------------HOLA MUNDO!--------------------'

In [92]:
dir([])

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

#### Tupla

In [100]:
tupla = (1, 2, 3, 4)

In [101]:
type(tupla)

tuple

In [107]:
tupla[0] = "Hola"

TypeError: 'tuple' object does not support item assignment

In [108]:
tupla.append(10)

AttributeError: 'tuple' object has no attribute 'append'

In [104]:
dir(tupla)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']